.xword-search-n-highlight {
    position: relative;
    padding: 2px;
}

.xword-search-n-highlight > span.x-word-count {
    display: none;
    user-select: none;
    position: absolute;
    font-size: .7em;
    top: -2px;
    right: -0.4em;
    color: grey;
}

.xword-search-n-highlight:hover {
    border-bottom: solid 1px rgba(255, 84, 84, 0.72);
}

.xword-search-n-highlight:hover > span.x-word-count {
    display: block;
}